{% extends "core/layout.html" %}
{% load static %}
{% block body %}

<main id="main" class="main">
  
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Firewall Rules</h5>
      <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Search" title="Enter search keyword">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
      </div>
      
      <!-- Dark Table -->
      <table class="table table-primary">
        <thead>
          <tr>
            
            <th scope="col"><i class = "icon bi-check-circle"></i></th>
            <th scope="col">Name</th>
            <th scope="col">Source</th>
            <th scope="col">Assignment</th>
            <th scope="col">Service</th>
            <th scope="col">IP Version</th>
            <th scope="col">Actions</th>
            <th scope="col">Translate To</th>
            <th scope="col">Edit</th>
            <th scope = "col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  
                </label>
              </div>
            </th>
            <td>test name</td>
            <td>test source</td>
            <td>test ip</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            
            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#editRule">
              <i class = "bi bi-pencil"></i>
            </button></td>
            <td><button type = "button" class = "btn btn-danger">
              <i class = "bi bi-trash"></i>
            </button></td>
          </tr>
          
        </tbody>
      </table>
      <!-- End Dark Table -->
      <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addRule">
  Add Rule
</button>

            <!-- Modal for adding rule -->
          <div class="modal fade" id="addRule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addRuleLabel">Add Rule</h5>
                  <button type="button" class="btn btn-light close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class = "bi bi-x-lg"></i></span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url "iptables:create" %}" method = "post">
                    {% csrf_token %}
                    <label for="table">Table: </label>
                    <select class="form-select" name = "table" multiple aria-label="select example">
                      <option value = "filter" selected>Filter</option>
                    </select> 

                    <label for="chain">Chain: </label>
                    <select class="form-select" name = "chain" multiple aria-label="select example">
                      <option value = "INPUT" selected>INPUT</option>
                      <option value = "FORWARD" >FORWARD</option>
                      <option value = "OUTPUT" >OUTPUT</option>
                    </select> 
                    
                    <label for="rule">Rule Specification: </label>
                    <input type="text" class = "form-control" name = "rule" placeholder = "-s 192.168.1.0/24 -p tcp --dport 80 -j ACCEPT" name="" id=""><br>
                    <button type="submit" class="btn btn-success">Save</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!--Modal window for editing rules-->
          <div class="modal fade" id="editRule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editRuleLabel">Edit Rule</h5>
                  <button type="button" class="btn btn-light close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class = "bi bi-x-lg"></i></span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>




</main>


{% endblock body %}

{% block scripts %}
<script src = "{% static "core/js/jquery.js" %}"></script>
<script src = "{% static "core/js/jquery.min.js" %}"></script>
<script src = "{% static "core/js/jquery-3.4.1.slim.min.js" %}"></script>
<script src = "{% static 'core/js/jqueryformodals.slim.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock scripts %}




