{% extends "core/layout.html" %}
{% load static %}
{% block body %}

<main id="main" class="main">
  <div class="alert alert-success" role="alert" id ="edit-user-success">
    <h4 class="alert-heading">Well done!</h4>
    <p>User was successfully edited!</p>
    <hr>
    <p class="mb-0">Just wrote something here so it won't look so empty :=</p>
  </div>
  <div class="alert alert-success" role="alert" id ="add-user-success">
    <h4 class="alert-heading">Well done!</h4>
    <p>User was successfully created!</p>
    <hr>
    <p class="mb-0">Just wrote something here so it won't look so empty :=</p>
  </div>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Poor Thing...</h4>
    <p>User was succesffully deleted! -_-</p>
    <hr>
    <p class="mb-0">Tidy dishes deleted the user</p>
  </div>
  <div class="alert alert-danger" role="alert" id = "error-alert">
    <h4 class="alert-heading">Whoops...</h4>
    <p>Something Bad Happened</p>
    <hr>
    <p class="mb-0">Tidy dishes throwed an error</p>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Firewall Rules</h5>

      <!-- Dark Table -->
      <table class="table table-primary" >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Traffic limit</th>
            <th scope="col">Last login</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody id ="user-table">
          {% for user in users %}
          <tr>
            <th class ="t-head" scope="row">{{user.id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.role}}</td>
            <td>Traffic</td>
            <td>{{user.last_login}}</td>
            <td>
              <button type = "button" class = "btn btn-info edit-user" data-toggle ="modal" data-target = "#edit-user-modal"><i class="bi bi-pencil">
              </i></button>
            </td>
            <td>
              <button class = "btn btn-danger delete-user"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
      <!-- End Dark Table -->

      {% if request.user.is_superuser%}
      <script>
          console.log("superuser")
      </script>
      <button type = "button" class = "btn btn-primary" data-toggle="modal" data-target="#user-modal" >
          <i class = "bi bi-plus"></i>
          Add user
      
      </button>
      
      {% endif %}
    </div>
    
  </div>

</main>

<!--MODAL-->
<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
          </div>
          <div class="modal-body" id="add-modal-body">
              <div id="add-user-form">
                  <form action="">
                      <div class="col-12">
                          <label for="yourUsername" class="form-label">Username</label>
                          <div class="input-group has-validation">
                              <span class="input-group-text" id="inputGroupPrepend">@</span>
                              <input type="text" name="username" class="form-control" id="add-username" placeholder="Username..." required>
                              <div class="invalid-feedback">Please enter your username.</div>
                          </div>
                      </div>
                      <div class="col-12">
                          <p id="unique-user-error"></p>
                          <label for="yourUsername" class="form-label">Role</label>
                          <label class="col-sm-2 col-form-label">Select</label>
                          <div class="col-sm-10">
                              <select class="form-select" aria-label="Default select example" id="add-role-option">
                                  <option value="Programmer">Brogrammer</option>
                                  <option value="REngineer">Robotic Engineer</option>
                                  <option value="NEngineer">Network Engineer</option>
                              </select>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-primary" id="close-add-modal-button">Close</button>
              <button type="button" data-dismiss="modal" class="btn btn-success" id="add-user-button">Add</button>
          </div>
      </div>
  </div>
</div>

<!--MODAL FOR EDITING USER INFO-->
<div class="modal fade" id="edit-user-modal" tabindex="" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
          </div>
          <div class="modal-body" id="edit-modal-body">
              <div id="edit-user-form">
                  <form action="">
                      <div class="col-12">
                          <label for="editUsername" class="form-label">EDIT USER</label>
                          <div class="input-group has-validation">
                              <span class="input-group-text" id="inputGroupPrepend">@</span>
                              <input type="text" name="editUsername" class="form-control" id="edit-username" placeholder="Username..." required>
                              <div class="invalid-feedback">Username</div>
                          </div>
                      </div>
                      <div class="col-12">
                          <label for="editRole" class="form-label">Role</label>
                          <div class="col-sm-10">
                              <select class="form-select" aria-label="Default select example" id="edit-role-option">
                                  <option value="Programmer">Brogrammer</option>
                                  <option value="REngineer">Robotic Engineer</option>
                                  <option value="NEngineer">Network Engineer</option>
                              </select>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-primary" id="close-edit-modal-button">Close</button>
              <button type="button" data-dismiss="modal" class="btn btn-success" id="edit-user-button">Edit</button>
          </div>
      </div>
  </div>
</div>

{% endblock body %}



{% block scripts %}

<script src = "{% static "core/js/api.js" %}"></script>
<!-- jQuery -->


<!-- Other scripts you may have -->

<!-- Your main JavaScript file -->
<script src="{% static 'core/js/main.js'%}"></script>

{% comment %} <script>
  $(document).ready(function() {
    // JavaScript/jQuery code for initializing modals
    // For example:
    $('#edit-user-modal').modal();
  });
</script> {% endcomment %}

{% endblock scripts %}


